{% extends 'blog/base.html' %}

{% block content %}
<div class="cover">
    <div class="board">
        <div class="return">
            <a href="{% url 'board_view' pk=board.pk %}"><h1> 문제로 돌아가기 </h1></a>
        </div>
        <div class="write">
            <h2> 풀이 쓰기 </h2> <a href="{% url 'post_new' pk=board.pk %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <div class="board_name">
            <h1> {{ num }} </h1>
        </div>
    </div>
    {% for post in posts %}
    {% ifequal post.is_deleted False %}
    <div class="post">
        <div class="post-elements">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <h3>{{post.author.username}} </h3>     
            <h5>Like: {{post.like}}</h5>
            {% ifequal post.photo "/media/0" %}
            <h3> no img </h3>
            <p>{{ post.text|linebreaksbr }}</p>
            {% else %}
            <img src="./../../../../media/{{post.photo}}" />
            <p>{{ post.text|linebreaksbr }}</p>
            <h1>--------------------------------------------------------------------------------</h1>
            {% endifequal %}
        </div>
    </div>

{% endifequal %}
{% endfor %}
</div>
{% endblock content %}
